div { margin: 0; }
html, body, #map { height: 100%; }
body { overflow: hidden; }

/* Position the info div */
#info {
    position: relative;
    height: 200px;
    bottom: 200px;
    background-color: black;
    background-color: rgba(0,0,0,0.8);
    color: white;
    border-top: 1px solid white;
    padding: 0 10px;
    transition: bottom 0.5s;
}

h3, blockquote { color: white; }

#info.hidden {
    bottom: 0px;
}

#info a {
    color: #d3d3d3;
}

#info a:visited {
    color: #d3d3d3;
}

#info a:hover {
    color: #fff;
}

.left-half {
    float: left;
    width: 55%;
}

.right-half {
    padding-top: 10px;
    margin-left: 60%;
}

ul {
    margin-bottom: 0px;
}

.i-helped {
    text-align: right;
    margin-right: 20px;
    font-size: 0.9em;
}

/* Position the toggle button */
#toggle-info {
    background-color: #fff;
    box-shadow: 0 1px 7px rgba(0,0,0,0.65);
    background-image: url('img/show.png');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 50%;
    border-radius: 4px 4px 0 0;
    width: 26px;
    height: 24px;
    position: absolute;
    left: 10px;
    bottom: 200px;
    cursor: pointer;
}

#toggle-info:hover {
    background-color: #f4f4f4;
}

/* Set the logo image */
#logo {
    background: url('img/azgs-logo.png');
    position: absolute;
    right: 10px;
    top: 10px;
    height: 64px;
    width: 64px;
    border: none;
}

@media (-o-min-device-pixel-ratio: 1.3/1),
       (-webkit-min-device-pixel-ratio: 1.3),
       (min-resolution: 124dpi) {
    #logo {
        background: url('img/azgs-logo-ret.png');
        background-size: contain;
    }
}